### 2.10 서울시 구별 CCTV 현황 분석
- 서울시 자치구 연도별 방범용 CCTV 운영 현황
- 서울시 주민등록인구(구별) 통계

In [1]:
import numpy as np
import pandas as pd

#### 1. CCTV 데이터

In [84]:
cctv = pd.read_csv('data/서울시 자치구 연도별 방범용 CCTV 운영 현황_230630기준.csv',
                   encoding='EUC-KR', index_col='구분', thousands=',')
cctv.head(3)

     Unnamed: 0  2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년
구분
종로구           1    935   1066   1225   1322   1338   1526   1573   1812   1808
중구            2    363    565    838   1174   1234   1482   1911   2026   2026
용산구           3   1398   1689   1831   1888   1986   2131   2321   2531   2647

In [85]:
cctv.drop(columns=['Unnamed: 0', '2023년'], inplace=True)
cctv.head(3)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년
구분
종로구    935   1066   1225   1322   1338   1526   1573   1812
중구     363    565    838   1174   1234   1482   1911   2026
용산구   1398   1689   1831   1888   1986   2131   2321   2531

In [86]:
cctv['CCTV댓수'] = cctv.sum(axis=1)
cctv.head(3)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  CCTV댓수
구분
종로구    935   1066   1225   1322   1338   1526   1573   1812   10797
중구     363    565    838   1174   1234   1482   1911   2026    9593
용산구   1398   1689   1831   1888   1986   2131   2321   2531   15775

In [87]:
cctv['최근증가율'] = ((cctv['2020년'] + cctv['2021년'] + cctv['2022년']) / cctv['CCTV댓수'] * 100).round(2)
cctv.head(3)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  CCTV댓수  최근증가율
구분
종로구    935   1066   1225   1322   1338   1526   1573   1812   10797  45.48
중구     363    565    838   1174   1234   1482   1911   2026    9593  56.49
용산구   1398   1689   1831   1888   1986   2131   2321   2531   15775  44.27

In [88]:
cctv['최근증가율'] = (cctv.iloc[:, 5:-2].sum(axis=1) / cctv['CCTV댓수'] * 100).round(2)
cctv.head(3)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  CCTV댓수  최근증가율
구분
종로구    935   1066   1225   1322   1338   1526   1573   1812   10797  45.48
중구     363    565    838   1174   1234   1482   1911   2026    9593  56.49
용산구   1398   1689   1831   1888   1986   2131   2321   2531   15775  44.27

In [89]:
cctv.drop(columns='2015년	2016년	2017년	2018년	2019년	2020년	2021년	2022년'.split(),
          inplace=True)
cctv.head()

     CCTV댓수  최근증가율
구분
종로구   10797  45.48
중구     9593  56.49
용산구   15775  44.27
성동구   19915  51.76
광진구   15082  58.72

#### 2. 인구 데이터 정리하기

In [78]:
pop = pd.read_csv('data/서울시 구별 주민등록인구.csv', skiprows=1)
pop.head()

,동별(1),동별(2),세대 (세대),계 (명),한국인 (명),등록외국인 (명),세대당인구 (명),65세이상고령자 (명),세대 (세대).1,계 (명).1,한국인 (명).1,등록외국인 (명).1,인구밀도
0,합계,소계,4463385,9668008,9426404,241604,2.11,1690961,4469158,9659322,9414093,245229,2
1,합계,종로구,72679,152212,141060,11152,1.94,28265,72507,151349,140397,10952,2
2,합계,중구,63862,131390,120963,10427,1.89,25353,64375,132054,121441,10613,2
3,합계,용산구,109735,232482,217756,14726,1.98,39478,109679,232069,217288,14781,2
4,합계,성동구,133513,287240,280240,7000,2.10,48238,133484,286564,279374,7190,2

In [79]:
pop = pop[['동별(2)','계 (명)','한국인 (명)','등록외국인 (명)','65세이상고령자 (명)']]
pop.head(3)

  동별(2)    계 (명)  한국인 (명)  등록외국인 (명)  65세이상고령자 (명)
0    소계  9668008  9426404     241604       1690961
1   종로구   152212   141060      11152         28265
2    중구   131390   120963      10427         25353

In [80]:
pop.columns = ['구별','인구수','내국인','외국인','고령자']
pop.head(3)

    구별      인구수      내국인     외국인      고령자
0   소계  9668008  9426404  241604  1690961
1  종로구   152212   141060   11152    28265
2   중구   131390   120963   10427    25353

In [81]:
# 첫번째 행 지우기
pop.drop([0], inplace=True)
pop.head(3)

    구별     인구수     내국인    외국인    고령자
1  종로구  152212  141060  11152  28265
2   중구  131390  120963  10427  25353
3  용산구  232482  217756  14726  39478

In [82]:
# 구별을 인덱스로 만들기
pop.set_index('구별', inplace=True)
pop.head(3)

        인구수     내국인    외국인    고령자
구별
종로구  152212  141060  11152  28265
중구   131390  120963  10427  25353
용산구  232482  217756  14726  39478

In [83]:
# 외국인 비율, 고령자 비율
pop['외국인 비율'] = (pop.외국인 / pop['인구수'] * 100).round(2)
pop['고령자 비율'] = (pop['고령자'] / pop['인구수'] * 100).round(2)
pop.head(3)

        인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
구별
종로구  152212  141060  11152  28265    7.33   18.57
중구   131390  120963  10427  25353    7.94   19.30
용산구  232482  217756  14726  39478    6.33   16.98

#### 3. CCTV 데이터와 POP 데이터 합치기

In [91]:
pd.concat([cctv, pop], axis=1)

      CCTV댓수  최근증가율     인구수     내국인    외국인     고령자  외국인 비율  고령자 비율
종로구    10797  45.48  152212  141060  11152   28265    7.33   18.57
중구      9593  56.49  131390  120963  10427   25353    7.94   19.30
용산구    15775  44.27  232482  217756  14726   39478    6.33   16.98
성동구    19915  51.76  287240  280240   7000   48238    2.44   16.79
광진구    15082  58.72  350925  336801  14124   54854    4.02   15.63
동대문구   15111  47.68  354884  337574  17310   65154    4.88   18.36
중랑구    16762  63.32  389928  385003   4925   76116    1.26   19.52
성북구    20856  52.31  441855  430100  11755   78427    2.66   17.75
강북구    13585  62.43  296934  292762   4172   67056    1.41   22.58
도봉구     7501  62.09  312858  310509   2349   68114    0.75   21.77
노원구    13473  48.07  506989  502515   4474   93279    0.88   18.40
은평구    23293  48.75  468766  464871   3895   90556    0.83   19.32
서대문구   15538  51.60  321966  308437  13529   56785    4.20   17.64
마포구    13775  51.83  376542  365570  10972   56582    2.91   15.03
양천구    22030  46.10  442345  439219   3126   73522    0.71   16.62
강서구    14303  56.87  573711  568287   5424   98659    0.95   17.20
구로구    22560  50.13  417983  395183  22800   77259    5.45   18.48
금천구    13739  51.10  242467  229307  13160   43772    5.43   18.05
영등포구   18275  58.30  398999  376614  22385   66014    5.61   16.54
동작구    13966  48.26  390377  380201  10176   68766    2.61   17.62
관악구    24692  46.53  502628  487815  14813   83420    2.95   16.60
서초구    20819  47.06  408979  404831   4148   63328    1.01   15.48
강남구    38725  47.60  537817  532798   5019   83097    0.93   15.45
송파구    13537  56.86  663704  658006   5698  105161    0.86   15.84
강동구    14415  57.45  464027  459982   4045   79706    0.87   17.18

In [95]:
df = pd.merge(cctv, pop, left_index=True, right_index=True)

In [96]:
df.shape

(25, 8)

In [97]:
df.index.name = '구별'
df.head()

     CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
구별
종로구   10797  45.48  152212  141060  11152  28265    7.33   18.57
중구     9593  56.49  131390  120963  10427  25353    7.94   19.30
용산구   15775  44.27  232482  217756  14726  39478    6.33   16.98
성동구   19915  51.76  287240  280240   7000  48238    2.44   16.79
광진구   15082  58.72  350925  336801  14124  54854    4.02   15.63

In [98]:
df.to_csv('data/서울시 구별 CCTV 인구 현황.csv')

In [99]:
pd.read_csv('data/서울시 구별 CCTV 인구 현황.csv')

      구별  CCTV댓수  최근증가율     인구수     내국인    외국인     고령자  외국인 비율  고령자 비율
0    종로구   10797  45.48  152212  141060  11152   28265    7.33   18.57
1     중구    9593  56.49  131390  120963  10427   25353    7.94   19.30
2    용산구   15775  44.27  232482  217756  14726   39478    6.33   16.98
3    성동구   19915  51.76  287240  280240   7000   48238    2.44   16.79
4    광진구   15082  58.72  350925  336801  14124   54854    4.02   15.63
5   동대문구   15111  47.68  354884  337574  17310   65154    4.88   18.36
6    중랑구   16762  63.32  389928  385003   4925   76116    1.26   19.52
7    성북구   20856  52.31  441855  430100  11755   78427    2.66   17.75
8    강북구   13585  62.43  296934  292762   4172   67056    1.41   22.58
9    도봉구    7501  62.09  312858  310509   2349   68114    0.75   21.77
10   노원구   13473  48.07  506989  502515   4474   93279    0.88   18.40
11   은평구   23293  48.75  468766  464871   3895   90556    0.83   19.32
12  서대문구   15538  51.60  321966  308437  13529   56785    4.20   17.64
13   마포구   13775  51.83  376542  365570  10972   56582    2.91   15.03
14   양천구   22030  46.10  442345  439219   3126   73522    0.71   16.62
15   강서구   14303  56.87  573711  568287   5424   98659    0.95   17.20
16   구로구   22560  50.13  417983  395183  22800   77259    5.45   18.48
17   금천구   13739  51.10  242467  229307  13160   43772    5.43   18.05
18  영등포구   18275  58.30  398999  376614  22385   66014    5.61   16.54
19   동작구   13966  48.26  390377  380201  10176   68766    2.61   17.62
20   관악구   24692  46.53  502628  487815  14813   83420    2.95   16.60
21   서초구   20819  47.06  408979  404831   4148   63328    1.01   15.48
22   강남구   38725  47.60  537817  532798   5019   83097    0.93   15.45
23   송파구   13537  56.86  663704  658006   5698  105161    0.86   15.84
24   강동구   14415  57.45  464027  459982   4045   79706    0.87   17.18